@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap');

:root {
    /* font and display */
    --body-font: "Poppins", sans-serif;
    --second-font: "Lora", serif;
    --biggest-font-size: 2.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    /* font weight */
    --front-regular: 400;
    --front-medium: 500;
    --front-semi-bold: 600;
    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;   
}

@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--front-medium);
    background-color: black;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header a img{
    width: 80px;
    height: 80px;
}
header ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

header ul li {
    margin: 0 20px;
    list-style: none;
}
header ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

section {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    padding: 100px;
    display: flex;
    /* top: 10vh; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section img {
    position: relative;
    width: 100%;
    top: -20px;
    height: auto;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
}

#text {
    position: absolute;
    top: 25%;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 2.5vw;
    pointer-events: none;
    z-index: 10;
}
#explore
{
    top: 25%;
    position: absolute;
    text-decoration: none;
    display: inline-block;
    padding: 1vh 2vw;
    border-radius: 40vh;
    background-color: white;
    color: black;
    font-size: 1.5vw;
    z-index: 10;
    transform: translateY(125%);
}

.container {
    position: relative;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 1vw;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}